<div class="container mt-4">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="<%= food.imageurl %>" alt="<%= food.name %>" class="img-fluid rounded-start h-100 object-fit-cover" />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="card-title mb-4"><%= food.name %></h1>
            <p class="card-text"><strong>Category:</strong> <%= category.name %></p>
            <p class="card-text"><strong>Description:</strong> <%= food.description %></p>
            <p class="card-text"><strong>Price:</strong> $<%= food.price %></p>
            <p class="card-text"><strong>Stock:</strong> <%= food.stock %></p>
            
            <div class="mt-4">
              <a href="/catalog/food/<%= food.id %>/edit" class="btn btn-primary me-2">Edit</a>
              <a href="/catalog/food/<%= food.id %>/delete" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>