<%- contentFor('body') %>


<% foods.forEach(function(food) { %>
    <article class="food-card">
        <img src="<%= food.imageURL %>" alt="<%= food.name %>">
        <h2><%= food.name %></h2>
        <p>Price: $<%= food.price %> </p> 
    </article>
<% }) %> 



